extends ./layout/index

block contenido 
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", class='img-fluid', alt='imagen nosotros')
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipisci tempor incidunt ut labore et dolore magna aliqua veniam,
                p Lorem ipsum dolor sit amet, consectetur adipisci tempor incidunt ut labore et dolore magna aliqua veniam, quis nostrund exercitation ullamcorpor s commodo consequat. Duis autem vel eum irrure esse molestiae consequat, vel illum dolore eu fugi et iusto odio dignissim qui blandit praesent luptat exceptur sint occaecat cupiditat non provident, deserunt mollit anim id est laborum et dolor fuga distinct. Nam liber tempor cum soluta nobis elige quod maxim placeat facer possim omnis volupt

    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="seguridad", class='img-fluid mb-4')
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipisci tempor incidunt
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="destinos", class='img-fluid mb-4') 
                    h2.mb-4 Destinos
                    p Lorem ipsum dolor si amet, consectetur adipiscingnt
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="precios", class='img-fluid mb-4') 
                    h2.mb-4 Destinos
                    p Et harumd dereud facilis est er expedit disti eligend optio congue nihil impedit doming